<!doctype html>
<html>
	<head>
		<title>BBS</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/vendor/jquery/dist/jquery.min.js"></script>
		<script>
			var socket = io();
			$(document).ready(function () {

				socket.emit('status:init',  {sessionId: "{{ sessionId }}" });

				socket.on('status:check', function (status) {
					$("#status").text(status);
				});
			});
		</script>

		<style>
			* { margin: 0; padding: 0; box-sizing: border-box; }
			body { font: 16px Helvetica, Arial; }
			#login-wrapper {
				width: 500px;
				margin: 0 auto;
			}

			#login-form {

			}

			#login-form h2 {
				margin: 5px;
			}
			#login-form fieldset {
				padding: 20px;

			}
			#login-form fieldset label {
				float: left;
				text-align: right;
				width: 100%;
				margin-right: 20px;
				/*display: block;*/
				/*text-align: left;*/
			}
			#login-form fieldset input {
				width: 100%;
				line-height: 1em;
				font-size: 2em;
				padding: .5em;
			}
		</style>
	</head>
	<body>
		<h2 id="status"></h2>
		<div id="login-wrapper">
			<div id="login-form">
				<h2>Sign Up</h2>
				<form>
					<fieldset>
						<input type="telephone" placeholder="888 555 1234" />
						<label>Phone Number:</label>

					</fieldset>
					<fieldset>
						<input type="password" />
						<label>Password:</label>

					</fieldset>
				</form>

			</div>
		</div>
	</body>
</html>
