<!doctype html>
<html>
	<head>
		<title>BBS</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/vendor/jquery/dist/jquery.min.js"></script>
		<script>
			var socket = io();
			$(document).ready(function () {

				socket.emit('status:init',  {sessionId: "{{ sessionId }}" });

				socket.on('status:check', function (status) {
					$("#status").text(status);
				});
			});
		</script>

		<style>
			* { margin: 0; padding: 0; box-sizing: border-box; }
			body {
				/*background-color: #ddf4f7;*/
				color: #0f304e;
				/*color: #006494;*/
				background-color: #E8F1F2;
				font: 16px Helvetica, Arial;
			}
			#login-wrapper {
				width: 650px;
				margin: 0 auto;
			}

			#login-form {

			}

			#login-form h2 {
				color: #13293D;
				font-size: 2em;
				margin: 10px;
				padding: 10px;
				text-align: center;
			}

			#login-form fieldset {
				margin: 10px;
				border: 0;
				position: relative;
			}

			#login-form fieldset .input-label {
				position: absolute;
				float: left;
				height: 100%;
				width: 30%;

				/*border: 1px solid red;*/
				line-height: 2em;
				font-size: 2em;
				padding-right: 10px;

				text-align: right;
			}

			#login-form fieldset .input-field {
				/*border: 1px solid blue;*/
				padding: 1px;
				float: right;
				width: 70%;
			}

			#login-form fieldset .input-field input {
				/*background-color: #E8F1F2;*/
				color: #006494;
				border: 0;
				border-radius: 10px;
				width: 100%;
				line-height: 1em;
				font-size: 2em;
				padding: .5em;
			}

			#login-form fieldset .input-button input {
				background-color: #006494;
				color: #FFFFFF;
				border: 0;
				border-radius: 10px;
				width: 100%;
				line-height: 1em;
				font-size: 2em;
				padding: .5em;
			}
			#login-form fieldset .input-button input:hover {
				background-color: #0384c1;
				color: #E1E1E1;
				cursor: pointer;
	 		}

			#login-form fieldset .input-button input:active {
				color: red;
			}
		</style>
	</head>
	<body>
		<h2 id="status"></h2>
		<div id="login-wrapper">
			<div id="login-form">
				<h2>Sign Up</h2>
				<form>
					<fieldset>
						<div class="input-label">
							phone:
						</div>
						<div class="input-field">
							<input name="[hone]" type="telephone" placeholder="888 555 1234" maxlength="12" />
						</div>
					</fieldset>
					<fieldset>
						<div class="input-label">
							passphrase:
						</div>
						<div class="input-field">
							<input name="password" type="password" />
						</div>
					</fieldset>
					<fieldset>
						<div class="input-button">
							<input type="button" value="submit" />
						</div>
					</fieldset
				</form>

			</div>
		</div>
	</body>
</html>
